* {
  font-family: 'Roboto';
}
.gaming-item {
  width: 25%;
}
.gaming-img {
  width: 100%;
}
@media (min-width: 768px) {
  .gaming-item {
    width: 20%;
    border-radius: 6px;
  }
  .gaming-title {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .gaming-item {
    width: 45%;
    margin: 8px;
    border-radius: 6px;
  }
  .gaming-title {
    font-size: 18px;
  }
}

.gaming-bottom {
  padding: 10px;
}
.gaming-item:hover {
  transform: scale(1.05);
  transition-duration: 300ms;
  transition-timing-function: ease;
  box-shadow: 0px 0px 6px -3px rgb(71, 71, 71);
}
.gaming-link {
  text-decoration: none;
  color: unset;
}
