@media (max-width: 767px) {
  .not-found-sidebar {
    display: none;
  }
  .not-found-main-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.not-found-img {
  height: 200px;
}
@media (min-width: 768px) {
  .not-found-container {
    display: flex;
  }
  .not-found-main-container {
    width: 85vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
