.movie-list-item {
  list-style-type: none;
}

.thumbnail-img {
  width: 100%;
}
.movie-item-link {
  margin: 10px;
}
@media (min-width: 577px) and (max-width: 767px) {
  .movie-item-link {
    width: 50%;
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .movie-item-link {
    width: 30%;
    text-decoration: none;
  }
}
.channel-logo {
  height: 40px;
}
.movie-item-link {
  text-decoration: none;
}
.movie-item-bottom {
  display: flex;
  gap: 10px;
}
