@media (min-width: 768px) {
  .header-container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 10vh;
  }
  .logo-img {
    height: 50px;
  }
  .profile-img {
    height: 30px;
  }
  .large-screen-logout-icon {
    border: 0px;
    padding: 10px;
    border-radius: 12px;
    background-color: rgb(37, 129, 210);
    outline: none;
  }
  .mobile-logout-icon {
    display: none;
  }
  .humburger-btn {
    display: none;
  }
}
@media (max-width: 767px) {
  .header-container {
    padding: 10px;
    height: 10vh;
  }
  .logo-img {
    height: 30px;
  }
  .profile-img {
    display: none;
  }
  .mobile-logout-icon {
    outline: none;
    background-color: transparent;
    border: 0px;
  }
  .large-screen-logout-icon {
    display: none;
  }
}
.icons {
  height: 25px;
  width: 25px;
}
.darkTheme {
  color: white;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-items-list {
  display: flex;
  gap: 10px;
  list-style-type: none;
  align-items: center;
  margin-left: -40px;
}
.dark {
  color: white;
  background-color: transparent;
  border: 1px solid white;
}
.light {
  color: #3b82f6;
  background-color: transparent;
  border: 1px solid #3b82f6;
}
.log-out-icon {
  height: 25px;
  width: 25px;
}
.dark-theme {
  color: #ebebeb;
}
.light-theme {
  color: #181818;
}
.sidebar {
  position: fixed;
  width: 200px;
  height: 100vh;
  padding-top: 30px;
  top: 0;
  right: -200px;
  background-color: #181818;
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 2;
}
@media (min-width: 768px) {
  .sidebar {
    display: none;
  }
}
.sidebar.open {
  right: 0;
  padding-top: 30px;
}
.humburger-btn {
  border: 0px;
  outline: none;
  background-color: transparent;
}
.dark-icon {
  color: #ebebeb;
}
.light-icon {
  color: #181818;
}
.close-icon {
  height: 30px;
  width: 30px;
}
.theme-btn {
  background-color: transparent;
  border: 0px;
  outline: none;
}
