.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}
.login-logo {
  height: 30px;
  align-self: center;
  margin-bottom: 30px;
}
.label {
  color: #909090;
  font-weight: bold;
  margin-bottom: 10px;
}
input {
  outline: none;
  padding: 10px;
  color: #424242;
  font-weight: 700;
  border-radius: 7px;
  background-color: transparent;
}
.field {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

form {
  width: 100%;
}
@media (min-width: 768px) {
  .login-box {
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .login-box {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
}
.checkbox-box {
  margin: 10px;
}
.login-btn {
  color: white;
  background-color: #3b82f6;
  padding: 10px;
  outline: none;
  border: 0px;
  border-radius: 10px;
  width: 100%;
}
.err-msg {
  color: #ff0b37;
}
