@media (min-width: 768px) {
  .trending-main-container {
    display: flex;
  }
  .trending-videos-container {
    height: 90vh;
    width: 85vw;
  }
  .trending-failure-container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .trending-failure-img {
    height: 250px;
  }
  .trending-loading-view {
    width: 85vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .trending-list {
    height: 75vh;
    margin-left: -40px;
    list-style-type: none;
    overflow-y: auto;
    scrollbar-width: none;
  }
}

@media (max-width: 767px) {
  .trending-side-bar {
    display: none;
  }
  .trending-failure-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .trending-failure-img {
    height: 200px;
  }
  .trending-loading-view {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
  }
  .trending-list {
    list-style-type: none;
    margin-left: -40px;
  }
}
* {
  font-family: 'Roboto';
  box-sizing: border-box;
}
.trending-img {
  height: 40px;
  width: 40px;
}
.trending-header {
  padding: 20px;
  display: flex;
  align-items: center;
}
